a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
  color: rgb(10, 1, 47);
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(255, 255, 255, 0.05);
}

nav {
  background-color: rgb(110, 255, 226);
  border-bottom: 1px solid #e5e5e5;
}